@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);

* {
  margin: 0;
  padding: 0;
  font-family: "helvetica", "Open Sans",  helvetica, sans-serif;
}

body {
  overflow: none;
}

.relative-full {
  height: 100vh;
  width: 100vw;
  position: relative;
  margin: 0;
  padding: 0;
}

.relative {
  height: 100%;
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}

.absolute-full {
  height: 100vh;
  width: 100vw;
  position: absolute;
  margin: 0;
  padding: 0;
}

.absolute {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0;
  padding: 0;
}

#everything-outer {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#tr-stories {
  position: absolute;
  right: 0;
  top: 0;
  width: 150px;
  min-height: 250px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
}

#tr-stories > h1 {
  color: white;
  font-size: 15px;
  font-weight: 900;
}

#tr-stories > ol {
  margin-top: 15px;
}

#tr-stories li {
  line-height: 1.4;
  color: white;
  font-size: 15px;
  margin-left: 17.5px;
}

#bottom-box {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 20vh;
  z-index: 1;
  background-color: white;
  box-shadow: 0 0 25px 25px white;
}

#jhumpa-background {
  top: -125px;
  width: 1280px;
  height: 100vh;
  position: absolute;
  right: 0;
}

#clock {
  position: fixed;
  top: -20px;
  left: 0;
  height: 150px;
  width: 120px;
  padding: 20px;
  background-color: white;
  border-bottom-left-radius: 5px;
  box-shadow: 0 0 10px 10px white;
}

#clock-background, #minute-hand, #hour-hand {
  position: absolute;
  height: 100px;
  width: 100px;
  margin: 10px;
  margin-top: 20px;
}

#minute-hand, #hour-hand {
  transform: rotate(0deg);
  -webkit-transition: all 2000ms cubic-bezier(0.100, 0.730, 0.000, 1.000);
     -moz-transition: all 2000ms cubic-bezier(0.100, 0.730, 0.000, 1.000);
       -o-transition: all 2000ms cubic-bezier(0.100, 0.730, 0.000, 1.000);
          transition: all 2000ms cubic-bezier(0.100, 0.730, 0.000, 1.000); /* custom */
}

#date {
  font-size: 30px;
  position: absolute;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  top: 150px;
}

#office-background {
  position: absolute;
  width: 100%;
  height: auto;
}

#custom-background-outer {
  z-index: 1;
  margin-top: -20px;
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.5s;
}

#custom-background-outer.hidden {
  opacity: 0;
  pointer-events: none;
}

#custom-background {
  position: absolute;
  width: 100%;
  height: auto;
}

#typing-jhumpa {
  position: absolute;
  left: 307px;
  top: 184px;
  /*source images are 1600x1380*/
  width: 640px;
  height: 552px;
  transform: rotate(0deg);
}

#typing-jhumpa.anxiety {
  animation: anxiety 0.1s infinite linear;
}

#typing-jhumpa-back, #typing-jhumpa-arm1, #typing-jhumpa-arm2 {
  position: absolute;
  width: 100%;
  height: 100%;
}

#typing-laptop {
  height: 250px;
  width: auto;
  top: 450px;
  left: 632px;
  position: absolute;
  /*animation: beingtyped 0.5s infinite;*/
}

#typing-jhumpa-arm1 {
  transform: rotate(0deg);
  transform-origin: 35% 35%;
  transition: transform 0.2s;
}

#typing-jhumpa-arm2 {
  transform: rotate(-2deg);
  transform-origin: 35% 35%;
  transition: transform 0.2s;
}

@keyframes type {
  0% {transform: rotate(0deg);}
  25% {transform: rotate(-8deg);}
  50% {transform: rotate(0deg);}
  75% {transform: rotate(-8deg);}
  100% {transform: rotate(0deg);}
}

@keyframes oppotype {
  0% {transform: rotate(-2deg);}
  25% {transform: rotate(0deg);}
  50% {transform: rotate(-2deg);}
  75% {transform: rotate(0deg);}
  100% {transform: rotate(-2deg);}
}

/* example computer mashing */
/*@keyframes beingtyped {
  0% {transform: rotate(0deg);}
  25% {transform: rotate(-4deg);}
  50% {transform: rotate(0deg);}
  75% {transform: rotate(-4deg);}
  100% {transform: rotate(0deg);}
}*/

#lower-table > tr > td {
  padding: 10px;
}

#lower-table p {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", "Open Sans", sans-serif;
  font-weight: 300;
}

#lower-table {
  height: 100%;
  width: 100%;
}

.bottom-divider {
  position: absolute;
  left: 30%;
  top: 10%;
  height: 80%;
  width: 1px;
  background-color: rgba(0, 0, 0, 0.25);
}

#buttons-table {
  position: absolute;
  margin: 0;
  left: 30%;
  bottom: 0;
  width: 70%;
  top: calc(20vh - 55px);
  height: 50px;
}

#start-button {
  margin: 50px;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
}

.option-button {
  margin-top: 0px;
  opacity: 1;
  height: 5vh;
  line-height: 5vh;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(200, 200, 200);
  pointer-events: auto;
  cursor: pointer;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  transition: background-color 0.25s, margin-top 0.5s, opacity 0.5s;
  -webkit-transition: background-color 0.25s, margin-top 0.5s, opacity 0.5s;
}

.option-button.hidden {
  pointer-events: none;
  margin-top: -50px;
  opacity: 0;
}

.option-button.disabled {
  background-color: rgb(230, 230, 230);
  box-shadow: 0;
  pointer-events: none;
}

.option-button:hover {
  background-color: rgb(175, 175, 175);
}

.option-button:active {
  background-color: rgb(150, 150, 150);
}

.option-button > p {
  vertical-align: middle;
  color: white;
  font-size: 3vh;
  font-weight: 300;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, "Open Sans", Arial, "Lucida Grande", sans-serif;
  text-align: center;
  pointer-events: none;
}

#brain-outer {
  line-height: 20vw
}

#jhumpa-brain {
  position: absolute;
  top: 0;
  height: auto;
  width: 45%;
  left: 2.5%;
  transform: rotate(0deg);
}

#jhumpa-brain.stress1 {
  animation: stress1 1s infinite;
}
#jhumpa-brain.stress2 {
  animation: stress2 1s infinite;
}
#jhumpa-brain.stress3 {
  animation: stress3 1s infinite;
}
#jhumpa-brain.stress4 {
  animation: stress4 1s infinite;
}
#jhumpa-brain.stress5 {
  animation: stress5 0.5s infinite linear;
}

#anxiety-meter-outer {
  top: calc(50% - 10px);
  width: 45%;
  left: 50%;
}

#typing-meter-outer {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  width: 40%;
  z-index: 1;
  transition: top 0.5s;
}

#typing-meter-outer.hidden {
  top: -30px;
}

.meter-outer {
  position: relative;
  height: 20px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
}

.meter-background {
  height: 100%;
  width: 100%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b4ddb4+0,777cff+0,78d363+50,fcff77+75,ffb677+87,ff0000+100 */
  background: #b4ddb4; /* Old browsers */
  background: -moz-linear-gradient(left,  #b4ddb4 0%, #777cff 0%, #78d363 50%, #fcff77 75%, #ffb677 87%, #ff0000 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #b4ddb4 0%,#777cff 0%,#78d363 50%,#fcff77 75%,#ffb677 87%,#ff0000 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #b4ddb4 0%,#777cff 0%,#78d363 50%,#fcff77 75%,#ffb677 87%,#ff0000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4ddb4', endColorstr='#ff0000',GradientType=1 ); /* IE6-9 */

}

.meter-overlay {
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  background-color: grey;
  transition: width 0.25s;
}

#narration {
  margin-top: -8vh;
  margin-left: 10px;
  opacity: 1;
  transition: opacity 0.5s, margin-top 0.5s;
}

#narration.hidden {
  opacity: 0 !important;
  margin-top: -10vh;
}


#speech-bubble {
  padding: 5px;
  background-color: white;
  height: 100px;
  width: 200px;
  position: absolute;
  top: 35px;
  left: 385px;
  opacity: 1;
  transform: rotate(-20deg);
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.4);
  transition: opacity 0.25s, top 0.25s;
}

#speech-bubble.hidden {
  opacity: 0;
  top: 25px;
}

#speech-bubble-triangle {
  position: absolute;
  left: 125px;
  top: 100px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 40px 20px 0 20px;
  border-color: #ffffff transparent transparent transparent;
}

#end-game-outer, #lose-game-outer, #start-game-outer {
  background-color: white;
  z-index: 10000;
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.5s;
}

#end-game-outer.hidden, #lose-game-outer.hidden, #start-game-outer.hidden {
  opacity: 0;
  pointer-events: none;
}

#start-game-outer, #end-game-outer {
  overflow: scroll;
}

#start-game-outer > div > p, #start-game-outer > div > h1 {
  color: black;
  font-family: "HelveticaNeue-UltraLight, HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, "Open Sans", Arial, "Lucida Grande", sans-serif;
  font-weight: 100;
  text-align: center;
  display: block;
  margin: 50px;
}

#start-game-outer > div > h1 {
  font-size: 8vw;
}

#start-game-outer > div > p {
  font-size: 2vw;
  font-weight: 300;
}

#start-game-outer > div > hr {
  background-color: #ddd;
  height: 1px;
  outline: 0;
  border: 0;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

#book-prev {
  position: absolute;
  top: 50px;
  left: -125px;
  width: 400px;
  height: auto;
  transition: left 0.5s;
}

#book-prev.hidden {
  left: -425px;
}

#pulitzer {
  position: absolute;
  top: 364px;
  height: 150px;
  width: auto;
  left: 162px;
  transition: left 0.5s;
}

#pulitzer.hidden {
  left: -350px;
}

#loss-message {
  color: black;
  font-family: "HelveticaNeue-UltraLight, HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, "Open Sans", Arial, "Lucida Grande", sans-serif;
  font-weight: 100;
  position: absolute;
  font-size: 8vw;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
  transition: opacity 0.5s, top 0.5s;
  transition-delay: 0.25s;
}

#loss-desc {
  color: black;
  font-family: "HelveticaNeue-UltraLight, HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, "Open Sans", Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  position: absolute;
  font-size: 2vw;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
  transition: opacity 0.5s, top 0.5s;
  transition-delay: 0.5s;
}

#loss-message.hidden {
  opacity: 0;
  top: 30%;
}

#loss-desc.hidden {
  opacity: 0;
  top: 40%;
}

#failure-book {
  position: absolute;
  bottom: -50px;
  left: -125px;
  width: 400px;
  height: auto;
  transition: left 0.5s;
}

#failure-book.hidden {
  left: -425px;
}

#message {
  color: black;
  font-family: "HelveticaNeue-UltraLight, HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, "Open Sans", Arial, "Lucida Grande", sans-serif;
  font-weight: 100;
  position: absolute;
  font-size: 7vw;
  right: 25px;
  top: 0;
  opacity: 1;
  transition: opacity 0.5s, top 0.5s;
  transition-delay: 0.25s;
}

#message.hidden {
  opacity: 0;
  top: -25px;
}

#timing {
  color: black;
  font-family: "HelveticaNeue-UltraLight, HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, "Open Sans", Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  position: absolute;
  font-size: 2vw;
  right: 25px;
  top: calc(25px + 7vw);
}

#final-stories {
  position: absolute;
  top: 14vw;
  left: 30vw;
  width: 200px;
  padding-right: 50px;
  border-right: 1px solid #eee;
}

#final-stories li, #final-stories p {
  line-height: 2;
  color: black;
  font-size: 20px;
}

#final-stories p {
  font-size: 30px;
}

#score-outer {
  position: absolute;
  top: 14vw;
  left: calc(30vw + 300px);
  width: 400px;
  height: 420px;
}

#stars {
  margin-top: 25px;
  left: 0;
  height: 50px;
  width: 100%;
  display: block;
}

.star {
  height: 100%;
  width: auto;
  opacity: 0;
  margin: 0;
  margin-top: -25px;
  display: inline-block;
  transition: opacity 0.5s, margin-top 0.5s;
}

.star.active {
  opacity: 1;
  margin-top: 0;
}

.star:nth-child(0) {
  transition-delay: 0.5s
}
.star:nth-child(1) {
  transition-delay: 0.6s
}
.star:nth-child(2) {
  transition-delay: 0.7s
}
.star:nth-child(3) {
  transition-delay: 0.8s
}
.star:nth-child(4) {
  transition-delay: 0.9s
}

.review {
  font-weight: 200;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 15px;
}

@keyframes type {
  0% {transform: rotate(0deg);}
  25% {transform: rotate(-8deg);}
  50% {transform: rotate(0deg);}
  75% {transform: rotate(-8deg);}
  100% {transform: rotate(0deg);}
}

@keyframes oppotype {
  0% {transform: rotate(-2deg);}
  25% {transform: rotate(0deg);}
  50% {transform: rotate(-2deg);}
  75% {transform: rotate(0deg);}
  100% {transform: rotate(-2deg);}
}

@keyframes stress1 {
  0% {transform: rotate(-2deg);}
  50% {transform: rotate(2deg);}
  100% {transform: rotate(-2deg);}
}

@keyframes stress2 {
  0% {transform: rotate(-4deg);}
  50% {transform: rotate(4deg);}
  100% {transform: rotate(-4deg);}
}

@keyframes stress3 {
  0% {transform: rotate(-10deg);}
  50% {transform: rotate(10deg);}
  100% {transform: rotate(-10deg);}
}

@keyframes stress4 {
  0% {transform: rotate(-50deg);}
  50% {transform: rotate(50deg);}
  100% {transform: rotate(-50deg);}
}

@keyframes stress5 {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

@keyframes anxiety {
  0% {transform: rotate(0deg);}
  25% {transform: rotate(1deg);}
  75% {transform: rotate(-1deg);}
  100% {transform: rotate(0deg);}
}
